In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
a = np.arange(15).reshape(3,5)

In [4]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [5]:
b = ['a','b','c','d','e']
data = pd.DataFrame(a, columns = b)

In [6]:
data

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [7]:
data.loc[:,'b':'e']

    b   c   d   e
0   1   2   3   4
1   6   7   8   9
2  11  12  13  14

In [8]:
data.loc[:,'b':'e'].max()

b    11
c    12
d    13
e    14
dtype: int32

In [9]:
data.max()

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [10]:
data.min()

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [11]:
data.min(axis=1)

0     0
1     5
2    10
dtype: int32